.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px; /* Set a fixed width */
    height: 250px; /* Set a fixed height */
}

.card img {
    width: 100%;
    height: 60%; /* Adjust as needed to maintain aspect ratio */
    object-fit: cover;
    border-radius: 8px;
}

.card h2 {
    margin: 16px 0;
    color: #01050a; /* Blue color for links */
    text-decoration: none; /* Underline text to indicate it's a link */
  }
  
  .card a {
    text-decoration: none; /* Remove default underline from link */
    color: inherit; /* Inherit color from parent */
  }
/* Responsive Styles */
@media (max-width: 768px) {
  .about-container {
    padding: 15px;
  }

  .about-container h1 {
    font-size: 2rem;
  }

  .about-container p {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .about-container {
    padding: 10px;
  }

  .about-container h1 {
    font-size: 1.8rem;
  }

  .about-container p {
    font-size: 0.8rem;
  }
}